@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    line-height: 1.15;
    color: rgba(0, 0, 0, 0.8);
    background: #ece6d9;
}